@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
}

.contenido-principal {
    background-image: url('../images/fondo_traparente.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    margin-top: 172px;
    width: auto;
    max-height: 15000px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}

/*superior*/
.superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo-pagina{
    display: flex;
    border: none;
}

.logo{
    width: 100px;
    border: none;
}

.registro{
    width: 300px;
    padding: 20px;
    color: black;
}

.registro:hover{
    color: gold;
}

/*menu*/

.inferior{
    width: 100%;
    height: 70px;
    background: black;
    padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display:flex;
}

nav > ul > li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    color: gold;
    align-items: center;
    padding: 28px;
    text-transform: uppercase;
    font-size: 20px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background: rgb(34, 34, 34);
    box-shadow: 0px 0px 10px 0px rgb(0,0,0,0,5);

}

/*submenu*/
nav > ul > li > ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0,5);
    z-index: 10;
    transition: all 300ms ease;
    list-style: none;
}

nav > ul > li:hover >ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav > ul > li > ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav > ul > li > ul > li > a{
    display: block;
    color: black;
    padding: 6px;
    margin-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav > ul> li > ul > li >a:hover{
    background: black;
    color: gold;
    transform: scale(1.2);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0, 5);
}

.contenedor{
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 20px;
    margin: 50px auto;
    max-width:800px;
    border-radius: 10px;
}
h1 {
    text-align: center;
    font-size: 36px;
}
h2 {
    text-align: center;
    font-size: 24px;
}
p {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

footer {
    text-align: center;
    background-color: #000000; /* Color de fondo del footer */
    color: gold; /* Color del texto en el footer */
    padding: 10px;
    margin-top: 0px;
}

.libro {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
  }

  .portada-libro {
    flex: 1;
    margin-right: 20px;
    height: auto;
  }

  .informacion-libro {
    flex: 2;
  }

  .informacion-autor {
    display: flex;
    align-items: center;
  }

  .foto-autor1 {
    width: 200px;
    height: 200px;
    margin-right: 160px;
    margin-top: 10px;
  }

  .foto-autor2 {
    width: 200px;
    height: 200px;
    margin-right: 260px;
    margin-top: 10px;
  }

  .foto-autor3 {
    width: 200px;
    height: 200px;
    margin-right: 360px;
    margin-top: 10px;
  }

  .foto-autor4 {
    width: 200px;
    height: 200px;
    margin-right: 360px;
    margin-top: 10px;
  }

  .foto-autor5 {
    width: 200px;
    height: 200px;
    margin-right: 360px;
    margin-top: 10px;
  }

  .foto-autor6 {
    width: 200px;
    height: 200px;
    margin-right: 260px;
    margin-top: 10px;
  }

  .foto-autor7 {
    width: 200px;
    height: 200px;
    margin-right: 360px;
    margin-top: 10px;
  }

  .foto-autor8 {
    width: 200px;
    height: 200px;
    margin-right: 220px;
    margin-top: 10px;
  }

  .foto-autor9 {
    width: 200px;
    height: 200px;
    margin-right: 160px;
    margin-top: 10px;
  }

  .nombre{
    margin-right: 360px;
    font-size: 20px;
    text-align: start;
  }

  button{
    padding: 10px 40px;
    background: black;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: gold;
    outline: none;
    transition: all 300ms;
  }

  button:hover{
    background: gold;
    color: #000000;
}

#nuevoLibroForm {
  color: #000; /* Texto en negro */
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  height: 600px;
  max-width: 600px; /* Establece un ancho máximo para evitar que el formulario sea demasiado ancho */
  margin: 0 auto; /* Centra el formulario en la página */
}
#nuevoLibroForm label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  color: #000; /* Texto en negro */
}


#nuevoLibroForm label {
  display: block;
  margin-bottom: 10px;
}

#nuevoLibroForm input,
#nuevoLibroForm textarea {
    width: 100%;
    padding: 10px;
    border: 3px solid #000; /* Borde negro */
    background-color: #f3e48d; /* Fondo dorado */
    color: #000; /* Texto en negro */
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px; /* Tamaño de fuente más grande */
    font-weight: bold; /* Texto en negrita */
}






