* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    /*background-color: rgb(34, 34, 34);*/
    background-image: url(../images/black_books.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    position: relative;
}


.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    background-color: goldenrod;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: gold;
}

#menu {
    display: none;
}

.menu-icon {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #trolley {
    display: none;
}

.submenu:hover #trolley {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: rgb(82, 80, 80);
    padding: 20px;
    min-width: 400px;
    min-height: 400px;
}

table {
    width: 100%;
}

th, td {
    color: white;
}

.empty {
    background-color: rgb(179, 1, 1);
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: 800;
}

.header-content {
    position: relative;
    text-align: center;
    margin-top: 300px;
}

.header-content h1 {
    font-size: 70px;
    color: white;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-content p {
    font-size: 18px;
    padding: 0 200px;
    color: rgb(255, 255, 255);
    margin-bottom: 80px;
}

.botons {
    display: flex;
    justify-content: center;
}

.btn-1 {
    display: inline-block;
    width: 200px;
    margin: 0 10px;
    padding: 13px 0;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    background-color: goldenrod;
}

.btn-1:hover {
    background-color: gold;
}

.library {
    display: flex;
    padding: 20px;
}

.fantasy {
    width: 100%;
    height: 300px;
    background: url("../images/fantasía/literatura-fantastica.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.book-1, .book-2 {
    width: 50%;
}

.book-1 h3 {
    font-size: 20px;
    color: rgb(3, 28, 51);

}

#f1 p {
    font-size: 30px;
    font-weight: 800;
    color: rgb(25, 80, 131);
}

.book-2 h3, .book h3, #m1 h3, #r1 h3, .book p, .btn-2, .btn-3 {
    color: white;
}

.mistery {
    width: 100%;
    height: 300px;
    background: url("../images/misterio/misterio-1.webp") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

#m1 p, #r1 p {
    font-size: 30px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

#m1 h3, #r1 h3 {
    font-size: 20px;
}

.book-1 hr {
    margin: 10px 0;
    border: 1px solid rgb(209, 178, 0);
}

.book-2 {
    text-align: center;
}
.book-2 h3 {
    font-size: 55px;
    line-height: 55px;
}

.romance {
    width: 100%;
    height: 300px;
    background: url("../images/romance/romance\ 1.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}



.books {
    padding: 30px 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    padding-bottom: 80px;
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-prev, .swiper-button-next {
    color: goldenrod;
}

.swiper-pagination {
    opacity: 1;
    top: 50px;
}

.swiper-pagination-bullet-active {
    background-color: gold;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.book h3, .book p {
    font-size: 16px;
    margin-bottom: 10px;
}

.book img {
    width: 200px;
}

.price {
    font-size: 18px;
    color: green;
}

.btn-2, .btn-3 {
    display: inline-block;
    padding: 8px 15px;
    margin-top: 25px;
    border-radius: 25px;
}

.btn-2, .btn-3 {
    background-color: goldenrod;
    font-size: 14px;
}

.btn-2:hover, .btn-3:hover  {
    background-color: gold;
}

.footer {
    padding-bottom: 50px;
    background-color: goldenrod;
}

.links {
    display: flex;
    justify-content: space-between;
    color: white;
}

.link {
    width: 25%;
}

.link h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.link p {
    font-size: 14px;
    margin: 0 50px 15px 0;
}

.link ul li {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

/*Reactive*/
@media (max-width: 991px) {
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: gold;
        display: none;
    }
    .logo {
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        flex-direction: column;
        padding: 30px;
        margin-top: 150px;
    }
    .header-content h1 {
        font-size: 40px;
    }
    .header-content p {
        padding: 0;
        margin-bottom: 40px;
    }

    .botons {
        flex-direction: column;
        align-items: center;
    }
    .btn-1 {
        margin: 0 0 20px 0;
    }
    
    pagination

    .library {
        flex-direction: column;
        padding: 0 10px;
        text-align: center;
    }
    .book-1, .book-2 {
        width: 100%;
    }
    .book-1 {
        margin-bottom: 25px;
    }

    .footer {
        padding: 30px;
    }
    .links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .link{
        width: 70%;
    }
    .link p {
        margin: 0 0 25px 0;
    }

}

